%h2{translate: true}DASHBOARD_PAGE.TITLE
.driven.col-md-3
  %h3{translate: true}DASHBOARD_PAGE.AS_DRIVER
  .rides{'ng-repeat' => 'ride in vm.rides.driven'}
    %h4.car {{ride.car.make + ' ' + ride.car.model + ' ' + ride.car.production_year}}
    .owner {{'CAR.OWNER' | translate}}: {{ride.car.owner.first_name + ' ' + ride.car.owner.last_name}}
    .start {{'RIDE.START' | translate}}: {{ride.start_datetime | date : 'medium'}}
    .end {{'RIDE.END' | translate}}: {{ride.end_datetime | date : 'medium'}}
    .state
      {{ride.state | uppercase | translate}}
      .action{'ng-if' => 'ride.state != "canceled"'}
        %button.btn.btn-danger{'ng-click' => 'vm.cancel(ride)', translate: true}CANCEL
.owned.col-md-3
  %h3{translate: true}DASHBOARD_PAGE.AS_OWNER
  .rides{'ng-repeat' => 'ride in vm.rides.owned'}
    %h4.car {{ride.car.make + ' ' + ride.car.model + ' ' + ride.car.production_year}}
    .driver {{'CAR.DRIVER' | translate}}: {{ride.driver.first_name + ' ' + ride.driver.last_name}}
    .start {{'RIDE.START' | translate}}: {{ride.start_datetime | date : 'medium'}}
    .end {{'RIDE.END' | translate}}: {{ride.end_datetime | date : 'medium'}}
    .state{'ng-if' => 'ride.state == "unanswered"'}
      %button.btn.btn-success{'ng-click' => 'vm.accept(ride)', translate: true}ACCEPT
      %button.btn.btn-danger{'ng-click' => 'vm.reject(ride)', translate: true}REJECT
    .state{'ng-if' => 'ride.state != "unanswered"'}
      {{ride.state | uppercase | translate}}

