-#%div{'ng-if' => 'mainCtrl.isAuthenticated'}
-#  Hello {{mainCtrl.currentUser.email}} !

%section.main-search-section
  %div.center-section
    %h2.headline-home
      Wypożycz swój
      %br idealny samochód
    %div.search-section-content
      %input{'value' => 'Warszawa'}
      %span.day-rent-start
        %input{'value' => 'Od:'}
      %span.day-rent-end
        %input{'value' => 'Do:'}
    %div.btn-search-car
      %button.btn-content Pokaż dostępne samochody
    %div.instruction
      %p.instruction-intro Twój samochód może zarabiać dla Ciebie
      %a.instruction-link Zobacz jak działa HiRide


%section.description-section
  %div.center-section
    %h2.headline How it works?
    %div.description-wrapper
      %div.description-content.col-md-4
        %img
        %h3.description-content-headline Chronimy Twój samochód
        %p.description-intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.

      %div.description-content.col-md-4
        %img
        %h3.description-content-headline Ty decydujesz o dostępności i cenie wypożyczenia
        %p.description-intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.

      %div.description-content.col-md-4
        %img
        %h3.description-content-headline Ty decydujesz kto może wypożyczyć Twój samochód
        %p.description-intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.

    %div.description-action
      %button.list-car-btn Udostępnij swój samochód
      %a.link-learn-more{'href' => '#'} Dowiedz się więcej


%section.car-list-section
  %h3.headline Znajdź swój idealny samochód

  %div.car-list-main

    %div.main-ad-brief
      %img{'src' => '/'}

      %div.car-price
        %p.price-content
          200zł
          %span.price-content-add /dzień

      %div.car-short-info
        %p.car-model BMW M5
        %p.car-owner.headline
          Samochód użytkownika:
          %span.car-owner-name Steve Rogers
        %div.rate
          %p *****

    %div.ad-brief
      %img{'src' => '/'}

      %div.car-price
        %p.price-content
          200zł
          %span.price-content-add /dzień

  %div.car-list-further
    %div.ad-brief
      %img{'src' => '/'}
      %div.car-price
        %p.price-content
          200zł
          %span.price-content-add /dzień

    %div.ad-brief
      %img{'src' => '/'}
      %div.car-price
        %p.price-content
          200zł
          %span.price-content-add /dzień

    %div.ad-brief
      %img{'src' => '/'}
      %div.car-price
        %p.price-content
          200zł
          %span.price-content-add /dzień

  %section.search-car-section
    %select
      %option{'value' => 'Audi'} Audi
      %option{'value' => 'BMW'} BMW
      %option{'value' => 'Honda'} Honda
      %option{'value' => 'Opel'} Opel
    %select
      %option{'value' => 'Warszawa'} Warszawa
    %button.find-car-btn Znajdź samochód


%section.additional-information-section
  %div.long-term-info-section
    %h3.headline
      Wypożyczenia
      %br
      %span.headline-important długoterminowe
  %div.airport-info-section
    %h3.headline
      HiRide
      %span.headline-important
        dostępne
        %br na lotnisku

%section.additional-action-section
  %button.list-car-btn Udostępnij swój samochód
  %button.find-car-btn Znajdź samochód
