%div{'ng-if' => 'mainCtrl.isAuthenticated'}
  Hello {{mainCtrl.currentUser.email}} !

%section.main-search-section
  %h2.headline-home
    Wypożycz swój
    %br idealny samochód
  %input
  %input
  %input
  %div.btn-search-car
    %button.btn-content Pokaż dostępne samochody
  %div.instruction
    %p.instruction-intro Twój samochód może zarabiać dla Ciebie
    %a.instruction-link Zobacz jak działa HiRide


%section.description-section
  %h2.headline How it works?
  %div.description-wrapper
    %div.description-content
      %img
      %h3.headline Chronimy Twój samochód
      %p.description-intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit.

    %div.description-content
      %img
      %h3.headline Ty decydujesz o dostępności i cenie wypożyczenia
      %p.description-intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit.

    %div.description-content
      %img
      %h3.headline Ty decydujesz kto może wypożyczyć Twój samochód
      %p.description-intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit.

  %div.description-action
    %button.list-car-btn Udostępnij swój samochód
    %a.link-learn-more{'href' => '#'} Dowiedz się więcej


%section.car-list-section
  %h3.headline Znajdź swój idealny samochód

  %div.car-list-main

    %div.main-ad-brief
      %img{'src' => '/'}

      %div.car-price
        %p.price-content
          200zł
          %span.price-content-add /dzień

      %div.car-short-info
        %p.car-model BMW M5
        %p.car-owner.headline
          Samochód użytkownika:
          %span.car-owner-name Steve Rogers
        %div.rate
          %p *****

    %div.ad-brief
      %img{'src' => '/'}

      %div.car-price
        %p.price-content
          200zł
          %span.price-content-add /dzień

  %div.car-list-further
    %div.ad-brief
      %img{'src' => '/'}
      %div.car-price
        %p.price-content
          200zł
          %span.price-content-add /dzień

    %div.ad-brief
      %img{'src' => '/'}
      %div.car-price
        %p.price-content
          200zł
          %span.price-content-add /dzień

    %div.ad-brief
      %img{'src' => '/'}
      %div.car-price
        %p.price-content
          200zł
          %span.price-content-add /dzień


%section