%nav.navbar
  -#%div.center-section
  .container-fluid
    .navbar-header
      %h3.logo{'ui-sref' => 'main.home'}
        VENITY
    .collapse.navbar-collapse
      %ul.navigation-list
        %li.car-list-nav-btn
          %a{'ui-sref' => 'main.carList'} Car List
        %li.add-car-nav-btn{'ng-if' => 'mainCtrl.isAuthenticated'}
          %a{'ui-sref' => 'main.carNew'} Add a car
        %li.profile-nav-btn{'ng-if' => 'mainCtrl.isAuthenticated'}
          %a{'ui-sref' => 'main.profile'} Profile
        %li.sign-out-nav-btn{'ng-if' => 'mainCtrl.isAuthenticated'}
          %a{'ng-click' => 'mainCtrl.signOut()' } Sign Out
        %li.sign-in-nav-btn{'ng-if' => '!mainCtrl.isAuthenticated'}
          %a{'ui-sref' => 'main.signIn'} Sign In
        %li.sign-up-nav-btn{'ng-if' => '!mainCtrl.isAuthenticated'}
          %a{'ui-sref' => 'main.signUp'} Sign Up
%div.content{'ui-view' => true}

%footer.footer-main
  %div.social-media-container.col-md-6
    %ul.social-media-list
      %li.social-facebook
        %a{'href' => '#'} facebook
      %li.social-instagram
        %a{'href' => '#'} Instagram
      %li.social-twitter
        %a{'href' => '#'} Twitter
  %div.footer-nav-container.col-md-6
    %ul.about-company-info-list
      %li
        %a O HiRide
      %li
        %a Jak działa HiRide
      %li
        %a Regulamin