%h4 Sign Up
.row
  %form.sign-up
    .col-md-2.social-buttons
      %button.btn.btn-default Google
      %button.btn.btn-default Facebook
    .col-md-2
      .errors{'ng-if' => 'vm.errors'}
        {{vm.errors}}
      .form-group.first-name
        %label{'for' => 'first-name-input'} First Name
        %input#first-name-input.form-control{'ng-model' => 'vm.first_name'}
      .form-group.last-name
        %label{'for' => 'last-name-input'} Last Name
        %input#last-name-input.form-control{'ng-model' => 'vm.last_name'}
      .form-group.email
        %label{'for' => 'email-input'}Email
        %input#email-input.form-control{type: 'text', 'ng-model' => 'vm.email'}
      .form-group.password
        %label{'for' => 'password-input'}Password
        %input#password-input.form-control{type: 'password', 'ng-model' => 'vm.password'}
      %button.btn.btn-default{'ng-click' => 'vm.signUp()', 'autofocus' => true}Sign Up
.row
  %a{'ui-sref' => 'main.signIn'} Sign In
