%form
  .error{'ng-if' => 'vm.errors'}
    {{vm.errors}}
  %input{type: 'text', placeholder: 'Email', autofocus: true, 'ng-model' => 'vm.email'}
  %input{type: 'password', placeholder: 'Password', autofocus: true, 'ng-model' => 'vm.password'}
  %button{'ng-click' => 'vm.signUp()'}Sign Up
