%h4 Car Details
.row
  .image.col-md-4
    %img{'src' => 'http://forgiato.com/photos/car-photos/thumbnails/chevrolet/camaro/camaro-concavo-forgiato-4-2015-1.jpg'}
  .details.col-md-2
    .make-model
      {{vm.car.make + ' ' + vm.car.model}}
    .production-year
      {{vm.car.production_year}}
    .owner
      Owner: {{vm.car.owner.first_name + ' ' + vm.car.owner.last_name}}
.row
  %button.btn.btn-default{'ng-if' => 'vm.owned', 'ui-sref' => 'main.carEdit({carId: vm.car.id})'}
    Edit
  %button.btn.btn-default{'ng-if' => '!vm.owned', 'ng-click' => 'vm.openRentModal()'}
    Rent
