%h4{translate: true}CAR_LIST_PAGE.TITLE
.panel.row{'ng-repeat' => 'car in vm.cars'}
  .car{'ui-sref' => 'main.carDetails({carId: car.id})'}
    .image.col-md-4
      %img{'src' => 'http://forgiato.com/photos/car-photos/thumbnails/chevrolet/camaro/camaro-concavo-forgiato-4-2015-1.jpg'}
    .details.col-md-2
      .make-model
        {{car.make + ' ' + car.model}}
      .production-year
        {{car.production_year}}
      .owner
        {{'CAR.OWNER' | translate}}: {{car.owner.first_name + ' ' + car.owner.last_name}}
