%h4{translate: true}CAR_LIST_PAGE.TITLE
.panel.row{'ng-repeat' => 'car in vm.cars'}
  .car{'ui-sref' => 'main.carDetails({carId: car.id})'}
    .image.col-md-4
      %img{src: '{{car.photo.thumb}}', 'ng-show' => 'car.photo.thumb'}
      = image_tag('default-car-photo.jpg', 'ng-show' => '!car.photo.thumb')
    .details.col-md-2
      .make-model
        {{car.make + ' ' + car.model}}
      .production-year
        {{car.production_year}}
      .owner
        {{'CAR.OWNER' | translate}}: {{car.owner.first_name + ' ' + car.owner.last_name}}
