.modal-header
  Rent {{vm.car.make}} {{vm.car.model}} - {{vm.car.production_year}}
.modal-body
  .container
    .row.rent-modal
      %form.add-ride
        .error{'ng-if' => 'vm.errors'}
          {{vm.errors}}
        .col-md-6
          .form-group.start
            %h3 Pick Up
            .row
              %label{'for' => 'start-datetime-input'}When:
              %input#start-datetime-input{type: 'date', 'ng-model' => 'vm.newRide.start_datetime'}
            .row
              %label Where:
              .picked-location{'ng-if' => 'vm.newRide.start_description'}
                {{vm.newRide.start_description}}
              %location-lookup{'ng-model' => 'vm.startLocation', callback: '$parent.vm.startLocationLookupCallback', 'limit-to' => 5}
        .col-md-6
          .form-group.end
            %h3 Return
            .row
              %label{'for' => 'end-datetime-input'}When:
              %input#end-datetime-input{type: 'date', 'ng-model' => 'vm.newRide.end_datetime'}
            .row
              %label Where:
              .picked-location{'ng-if' => 'vm.newRide.end_description'}
                {{vm.newRide.end_description}}
              %location-lookup{'ng-model' => 'vm.endLocation', callback: '$parent.vm.endLocationLookupCallback', 'limit-to' => 5}
              = image_tag('powered-by-google-on-white.png')
    .row
      %button.btn.btn-default{'ng-click' => 'vm.addRide()'} Rent
