%form
  .error{'ng-if' => 'vm.getErrors()'}
    {{vm.getErrors()}}
  %input{type: 'text', placeholder: 'Email', autofocus: true, 'ng-model' => 'vm.email'}
  %input{type: 'password', placeholder: 'Password', autofocus: true, 'ng-model' => 'vm.password'}
  %button{'ng-click' => 'vm.authFactory.signUp(vm.email, vm.password)'}Sign Up
