@import "theme"

.navbar
  background: black
  border-radius: 0!important
  height: 85px
  opacity: 0.3

.navigation-list
  float: right
  margin-top: 30px
  padding: 0

  li
    display: inline-block
    position: relative
    margin-left: 75px

    a
      color: $white

.car-list-nav-btn

.add-car-nav-btn
  &:before
    background-image: url(../images/log-in.png)
    content: ''
    height: 20px
    left: -32px
    top: -2px
    position: absolute
    width: 20px

.profile-nav-btn
  &:before
    background-image: url(../images/log-in.png)
    content: ''
    height: 20px
    left: -32px
    top: -2px
    position: absolute
    width: 20px

.sign-out-nav-btn
  &:before
    background-image: url(../images/log-in.png)
    content: ''
    height: 20px
    left: -32px
    top: -2px
    position: absolute
    width: 20px

.sign-in-nav-btn
  &:before
    background-image: url(../images/log-in.png)
    content: ''
    height: 20px
    left: -32px
    top: -2px
    position: absolute
    width: 20px

.sign-up-nav-btn
  &:before
    background-image: url(../images/log-in.png)
    content: ''
    height: 20px
    left: -32px
    top: -2px
    position: absolute
    width: 20px