// Main search section - search car



.main-search-section
  text-align: center

  .instruction-info

  .instruction-link

  .instruction
    .instruction-intro
      display: inline-block

    .instruction-link

.btn-search-car
  .btn-content




// Description section - "How it works?"

.description-section

  .headline

  .description-content

    .headline

    .description-intro

  .description-action
    .list-car-btn
    .link-learn-more



// Rent a car section - list of cars and search

.car-list-section

  .headline

  .car-list-main

  .car-list-further

  .main-ad-brief

  .ad-brief






// Footer section

.footer-main
  background: red