@import "theme"

@media (max-width: 995px)

  .description-section

    background-image: asset-url('bg-how-it-works.jpg')
    background-repeat: repeat-y
    padding: 110px 0 65px

    .description-wrapper
      width: 100%

      .description-content
        overflow: hidden

      .container-protect-mob-dev
        display: inline-block
        vertical-align: top
        width: 74%

      .icon-container-protect
        display: inline-block
        width: 20%

      .icon-container-earn
        display: inline-block
        width: 20%

      .icon-container-agree
        display: inline-block
        width: 20%

  .additional-information-section
    height: 400px

    .long-term-info-section
      .headline
        left: 10%

  .additional-action-section

    .list-car-wrapper
      text-align: center

      button
        width: 270px

    .list-car-wrapper-mob-dev
      text-align: center
      margin-top: 20px

      button
        width: 270px


  .search-car-main-wrapper
    width: 100%


  .social-media-container
    margin: 35px 0
    text-align: center

  .footer-nav-container
    margin: 35px 0
    .about-company-info-list
      text-align: center

@media (max-width: 940px)

  .btn-search-car
    .btn-content
      width: 80%

  .main-search-section
    .search-section-content
      width: 80%


@media (max-width: 850px)

  .search-car-main-wrapper
    width: 100%
