@import "theme"

@media (min-width: 1180px)

  .headline-mobile
    text-align: right
    margin-right: -120px
    padding-left: 290px

@media (max-width: 995px)

  .navbar-header
    margin-left: 15px!important
    .logo
      background: asset-url('logo-hr.png') no-repeat
      background-size: cover
      height: 65px
      margin-top: 8px
      width: 140px
      text-indent: -9999px

  .btn-search-car
    margin: 10px 0 40px

  .description-section

    background-image: asset-url('bg-how-it-works.jpg')
    background-repeat: repeat-y
    padding: 35px 0 60px

    .description-wrapper
      width: 100%

      .description-content
        overflow: hidden

      .container-protect-mob-dev
        display: inline-block
        vertical-align: top
        width: 74%

      .icon-container-protect
        display: inline-block
        width: 20%

      .icon-container-earn
        display: inline-block
        width: 20%

      .icon-container-agree
        display: inline-block
        width: 20%

  .additional-information-section
    height: 420px
    padding-top: 20px

    .long-term-info-section
      .headline
        left: 10%

  .additional-action-section

    .list-car-wrapper
      text-align: center

      button
        width: 270px

    .list-car-wrapper-mob-dev
      text-align: center
      margin-top: 20px

      button
        width: 270px


  .search-car-main-wrapper
    width: 100%


  .social-media-container
    margin: 35px 0
    text-align: center

  .footer-nav-container
    margin: 35px 0
    .about-company-info-list
      text-align: center


  .additional-information-section

    .mobile-app-photo
      width: 45%

  .email-placeholder-section
    padding: 140px 0 40px

@media (max-width: 940px)

  .btn-search-car
    .btn-content
      width: 80%

  .main-search-section
    .search-section-content
      width: 80%



@media (max-width: 910px)

  .car-list-main
    text-align: center

    .main-ad-brief
      width: 80%
      margin-bottom: 15px

      .car-short-info
        display: none

    .ad-brief
      width: 80%
      margin-bottom: 15px

  .car-brief-info
    text-align: left

  .car-list-further
    text-align: center

    .ad-brief
      width: 80%
      margin-bottom: 15px

  .car-image-container
    background-color: $white


@media (max-width: 850px)

  .main-search-section
    background-size: cover
    background-position: center

  .search-car-main-wrapper
    width: 100%


  .instruction-link
    display: block

  .link-learn-more
    font-size: 1.2em
    display: block
    margin-top: 30px


  .description-section
    .headline
      font-size: 2.65em
      font-weight: 300

  .description-section

    .description-content


      .description-content-headline
        font-size: 1.2em
        font-weight: 300

      .description-intro
        padding: 0 5%

  .navigation-list
    margin-top: 0px

  .navigation-list-container
    display: inline-block
    text-align: center
    width: 100%

    .navigation-list
      margin-bottom: 10px
      width: 100%

      li
        margin-left: 20px
        &:first-child
          margin-left: 0px

  //.navbar
  //  height: auto

  .navbar-header

    .logo
      margin-left: 10px
      margin-bottom: 30px


  .add-car-nav-btn
    &:before
      background: asset-url('log-in.png') no-repeat
      content: ''
      height: 20px
      left: 25px
      top: -25px
      position: absolute
      width: 20px

  .profile-nav-btn
    &:before
      background: asset-url('log-in.png') no-repeat
      content: ''
      height: 20px
      left: 25px
      top: -25px
      position: absolute
      width: 20px

  .sign-out-nav-btn
    &:before
      background: asset-url('log-in.png') no-repeat
      content: ''
      height: 20px
      left: 15px
      top: -25px
      position: absolute
      width: 20px

  .sign-in-nav-btn
    &:before
      background: asset-url('log-in.png') no-repeat
      content: ''
      height: 20px
      left: 25px
      top: -25px
      position: absolute
      width: 20px

  .sign-up-nav-btn
    &:before
      background: asset-url('log-in.png') no-repeat
      content: ''
      height: 20px
      left: 25px
      top: -25px
      position: absolute
      width: 20px


  .additional-information-section
    .long-term-info-section
      .headline
        font-size: 1.9em
        left: 3%

  .additional-information-section

    .mobile-app-intro
      display: inline-block
      width: 100%
      text-align: center

      .headline-mobile
        color: $white
        font-size: 2.45em
        font-weight: 100
        line-height: 55px

    .mobile-app-content
      display: inline-block
      text-align: center
      width: 100%
      vertical-align: top

    .mobile-app-photo
      width: 180px

  .addition-question
    padding: 30px 0 100px

    .addition-question-description
      width: 80%

@media (max-width: 650px)

  .car-list-main
    .main-ad-brief
      width: 100%

    .ad-brief
      width: 100%
  .car-list-further
    .ad-brief
      width: 100%

  .additional-action-section
    .email-placeholder
      margin-bottom: 10px