// basic color

$white: #ffffff
$black : #000000
$blue-sea-btn: #36c1d5
$grey-inputs: #9d9d9d
$blue-sea-input-icon: #1ab8cf

$black-social-icon: #242424

// decorative colors
$blue-additional-decorative-btn: #2eb1c4